Repository xooniverse/televerse, pull requests merged in 2023-07, with the labels that each got.

#114 👩🏻‍🔧 Fix: `onError` rethrows exceptions.
  CHANGELOG.md
  lib/src/televerse/fetch/long_polling.dart
  pubspec.yaml
Labels: bug, quick

#120 Refactors and performance 💎
  CHANGELOG.md
  README.md
  lib/src/televerse/fetch/long_polling.dart
  lib/src/televerse/models/televerse_exception.dart
  lib/src/televerse/raw_api.dart
  lib/src/televerse/sessions/sessions.dart
  lib/src/televerse/televerse.dart
  pubspec.yaml
Labels: bug, televerse, release

#126 Introducing Menu 🎲
  example/menu_bot.dart
  lib/src/conversation/conversation.dart
  lib/src/televerse/markups/inline_keyboard.dart
  lib/src/televerse/markups/inline_menu.dart
  lib/src/televerse/markups/keyboard_menu.dart
  lib/src/televerse/markups/menu.dart
  lib/src/televerse/televerse.dart
  lib/src/utils/utils.dart
  lib/televerse.dart
Labels: enhancement, televerse

#127 Menu & Improvements ✨
  CHANGELOG.md
  README.md
  example/menu_bot.dart
  lib/src/conversation/conversation.dart
  lib/src/televerse/context/chat_member.dart
  lib/src/televerse/context/context.dart
  lib/src/televerse/context/message.dart
  lib/src/televerse/context/mixins/message_mixin.dart
  lib/src/televerse/markups/inline_keyboard.dart
  lib/src/televerse/markups/inline_menu.dart
  lib/src/televerse/markups/keyboard_menu.dart
  lib/src/televerse/markups/menu.dart
  lib/src/televerse/raw_api.dart
  lib/src/televerse/televerse.dart
  lib/src/utils/utils.dart
  lib/televerse.dart
  pubspec.yaml
Labels: televerse, release

#129 Add Inline Menu Data
  lib/src/televerse/markups/inline_menu.dart
  lib/src/televerse/markups/keyboard_menu.dart
  lib/src/televerse/markups/menu.dart
  lib/src/televerse/models/inline_menu_data.dart
  lib/src/televerse/models/models.dart
  lib/src/televerse/televerse.dart
Labels: enhancement, televerse

#131 Televerse v1.10.4
  CHANGELOG.md
  example/test_bot.dart
  lib/src/televerse/conversation/conversation.dart
  lib/src/televerse/fetch/long_polling.dart
  lib/src/televerse/markups/inline_menu.dart
  lib/src/televerse/markups/keyboard_menu.dart
  lib/src/televerse/markups/menu.dart
  lib/src/televerse/models/inline_menu_data.dart
  lib/src/televerse/models/models.dart
  lib/src/televerse/raw_api.dart
  lib/src/televerse/televerse.dart
  lib/src/utils/http.dart
  lib/televerse.dart
  pubspec.yaml
Labels: release

#132 Error handling ✨
  CHANGELOG.md
  lib/src/televerse/links/share.dart
  lib/src/televerse/televerse.dart
  pubspec.yaml
Labels: enhancement, release
